{% extends 'base.html' %}

{% block content %}
  <h2>{{ object.titulo }}</h2>
  <span class="autor"><strong>Autor: <strong> <a href="{% url 'perfil_publico' artigo.autor.username %}">{{ artigo.autor.username }}</a></span>

  {% if user == object.autor or user in object.colaboradores.all %}
    <div>
      <h4>Conteúdo do artigo:</h4>
      <div>{{ object.conteudo|safe }}</div>
      <a href="{% url 'editar_artigo' object.pk %}">Editar</a>
    </div>
  {% else %}
    <div>
      <h4>Resumo:</h4>
      <p>{{ object.resumo }}</p>
    </div>

    {% if user.is_authenticated %}
      <form method="post" action="{% url 'pedido_colaboracao_criar' artigo_id=object.id %}">
        {% csrf_token %}
        <button type="submit">Solicitar Colaboração</button>
      </form>
    {% endif %}
  {% endif %}

  <a href="{% url 'lista_artigos' %}">Voltar para a lista</a>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
