{% extends 'base.html' %}

{% block content %}
  <section class="form-container">
    <h2>{% if form.instance.pk %}Editar Artigo{% else %}Criar Artigo{% endif %}</h2>

    <form method="post">
      {% csrf_token %}
      {{ form.media }}

      <p>
        <label for="{{ form.titulo.id_for_label }}">Título:</label><br>
        {{ form.titulo }}
      </p>

      <p>
        <label for="{{ form.resumo.id_for_label }}">Resumo (visível publicamente):</label><br>
        {{ form.resumo }}
      </p>

      <p>
        <label for="{{ form.conteudo.id_for_label }}">Conteúdo do artigo (apenas para autor e colaboradores):</label><br>
        {{ form.conteudo }}
      </p>

      <button type="submit">Salvar</button>
    </form>

    <p><a href="{% url 'lista_artigos' %}">Voltar para a lista</a></p>
  </section>
{% endblock %}
